<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a href="/" class="d-flex align-items-center text-decoration-none text-white" id="main_link">
                <img src="/images/train.png" alt="LOGO" class="me-2" style="width: 50px;">
                <h1>Train-REC</h1>
            </a>

        </div>

        <div class="d-flex">
            <a href="/wallet" class="nav-link text-white">
                <i class="fa-solid fa-wallet"></i>
                <span id="walletSpan">Portfel</span>
            </a>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-globe"></i>
                <span id="languageSpan">PL</span>
            </a>
            <a href="/login" class="nav-link text-white" id="loginLink">
                <i class="fas fa-user"></i>
                <span id="logInSpan">Zaloguj</span>
            </a>
            <a href="/userProfile" class="nav-link text-white" id="userProfileLink">
                <i class="fas fa-user"></i>
                <span id="headerSpan">Twoje Konto</span>
            </a>
            <a href="/" class="nav-link text-white" id="logoutLink">
                <i class="fa-solid fa-right-from-bracket" id="logoutIcon" style="color: #ffffff;"></i>
                <span id="logoutSpan">Wyloguj</span>
            </a>

            <!--            <a href="/register" class="nav-link text-white">-->
            <!--                <i class="fas fa-user"></i>-->
            <!--                <span id="headerSpan">Zarejestruj</span>-->
            <!--            </a>-->
            <!--            <a href="/modals" class="nav-link text-white">-->
            <!--                <i class="fas fa-user"></i>-->
            <!--                <span id="headerSpan">Test okienek modalnych</span>-->
            <!--            </a>-->
        </div>
    </div>
</nav>

<script src="/scripts/handleHeaderRedirects.js"></script>