<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a href="/" class="d-flex align-items-center text-decoration-none text-white" id="main_link">            
                <img src="/images/train.png" alt="LOGO" class="me-2" style="width: 50px;">
                <h1>Train-REC</h1>
            </a>

        </div>

        <div class="d-flex">
            <a href="/wallet" class="nav-link text-white">
                <i class="fa-solid fa-wallet"></i>
                <span>Wallet</span>
            </a>
            <a href="#" class="nav-link text-white">
                <i class="fas fa-globe"></i>
                <span>PL</span>
            </a>
            <a href="/user-profile" class="nav-link text-white">
                <i class="fas fa-user"></i>
                <span>User</span>
            </a>
            <a href="/modals" class="nav-link text-white">
                <i class="fas fa-user"></i>
                <span>Test okienek modalnych</span>
            </a>
            <a href="/login" class="nav-link text-white">
                <i class="fas fa-user"></i>
                <span>Login</span>
            </a>
            <a href="/register" class="nav-link text-white">
                <i class="fas fa-user"></i>
                <span>Register</span>
            </a>
        </div>
    </div>
</nav>