
.table-container h1{
    padding-bottom: 15px;

}
.table-container  td{
    padding:10px;
}
.table-container  td{
    padding:10px;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px auto;

}
.choice-container .form-select {
    font-size: 1.2vw;

}

#classchoice .btn {
    width: 100%;
    padding: 15px 0;
    font-size: 1.3rem;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 900px;
}
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details-container img {
    max-width: 100%;
    height: auto;
}

.toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #0d6efd;
}

input:checked + .slider:before {
    transform: translateX(25px);
}


#summaryBtn {
    display: block;
    margin: 30px auto 0 auto;
    background-color: var(--orange-color);
    border-color: var(--orange-color);
    padding: 15px 25px 0 25px;
    font-size:x-large;
}
.submit-container {
    background-color: var(--blue-color);
    border-radius: 15px;
    padding: 30px;
    color: white;
    margin: 30px auto auto auto;
    max-width: 60%; /* Dopasowanie szerokości */
}

.table-container {
    color: white;
    padding: 15px;
    border-radius: 20px;
    display: table;
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
}

@media (max-width: 768px) {
    .table-container{
        width: 100%;
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .table-container {
        width: 95%;
        padding: 5px
    }
}

#to #from{
    margin-left: 5px;
    margin-right: 5px;
}

.truncate-text {
    white-space: nowrap;        /* Nie pozwala na zawijanie tekstu */
    overflow: hidden;           /* Ukrywa tekst, który wykracza poza dostępny obszar */
    text-overflow: ellipsis;    /* Zastępuje obcięty tekst trzema kropkami */
}

#classchoice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 10px;
}

#classchoice a {
    margin: 0 20px;
    padding: 15px 30px;
    font-size: 1.3rem;
    background-color: var(--darker-orange-color);
    border-color: var(--darker-orange-color);
}

.details-container img {
    max-width: 100%;
    height: auto;
}

#summaryBtn {
    display: block;
    margin: 30px auto 0 auto;
    padding: 15px 30px;
    background-color: var(--green-color);
    border-color: var(--green-color);
    font-size: x-large;
}

@media (max-width: 768px) {
    .submit-container {
        max-width: 90%;
    }
    .choice-container .form-select {
        font-size: 2.5vw;
    }

}

#discountChooser, #class2Btn{
    margin-right: 5px;
}

#seatChooser, #class1Btn{
    margin-left: 5px;
}

#class1Btn, #class2Btn {
    border: solid 2px black;
    color: black;


}
.btn-active {
    /*border: 3px solid lightgreen !important;*/
    background-color: lightgreen !important;
    color: black;
}



#goBackButton {
    color: blue;
    background-color: white;
    border-color: white;
}

#goBackButton:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


#summaryBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
