
#blikForm, #walletForm, #paymentStatus{
    display: none;
}

.payment-panel {
    min-height: 500px;
    overflow: hidden;
}
.payment-method {
    transition: transform 0.3s ease-in-out;
}

.payment-method:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

