body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.btn-buy {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    height: 60px;
}

.btn-buy:hover {
    background-color: #cc0000;
}

.icon-pointer {
    margin-left: 5px;
    color: white;
}

.table-container {
    margin-top: 30px;
    background-color: #15216d;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.table td {
    vertical-align: middle;
}

.hide-mobile {
    display: none;
}
@media (min-width: 768px) {
    .hide-mobile {
        display: table-cell;
    }
}

.modal-dialog{
    max-width: 90%;
}

.modal-content {
    overflow-y: auto;
    padding: 1rem;
    max-height: 80vh;
}

.modal-body table{
    width: 100%;
    font-size: 0.9rem;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

@media (max-width: 768px) {
    .truncate-text {
        max-width: 70px;
    }
}

.table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}